<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/674b36f0-7771-4188-b382-ade2d495544a/dctfhjs-04fb6ef9-2064-4796-ac99-c2af6d19ae65.png/v1/fill/w_723,h_1106,q_70,strp/marvel_studios__avengers_4_poster_by_iamtherealnova_dctfhjs-pre.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>