img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p{
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800; /*Makes texts bolder*/
	text-transform: uppercase; /*Makes texts uppercase*/
	border-bottom: 3px solid red; /*Produces red line below text*/
	width: 30%; /*The red line is only 30% long than before*/
	padding-bottom: 20px;
}}